/* Write your CSS here */
.slider-container {
    background-color: rgb(44, 43, 43);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.plantes{
    color: blue;
}
ul{
    list-style-type: none;
}